RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{bugreport}.html -f
RewriteRule ^ %{https://mareepsmeadow.com/bugreport}.html [NC,L]

RewriteCond %{modapps}.html -f
RewriteRule ^ %{https://mareepsmeadow.com/modapps}.html [NC,L]
